## Visual Studio ignore list
*.vsconfig
*.sln
*.uproject
.vs/*

#Unreal ignore list
Plugins/*/Intermediate/*
Plugins/*/Binaries/*
Plugins/*/Saved/*
Plugins/KLDebugExamples/*
Binaries/*
Intermediate/*
Content/*
DerivedDataCache/*
Platforms/*
Saved/*
Source/KLDebugFramework/*

*Config/DefaultEditor.ini
*Config/DefaultEditorPerProjectUserSettings.ini
*Config/DefaultEngine.ini
*Config/DefaultGame.ini
*Config/DefaultInput.ini

*Source/KLDebugFramework.Target.cs
*Source/KLDebugFrameworkClient.Target.cs
*Source/KLDebugFrameworkEditor.Target.cs
*Source/KLDebugFrameworkServer.Target.cs